.title {
 font-size: 44px;
 font-weight: 700;
 line-height: calc(60/44*100%);
 @media (max-width: $md3) {
  font-size: 32px;
 }
}
.text {
 font-size: 16px;
 line-height: calc(23/16*100%);
}
.title-module {
 font-size: 22px;
 @media (max-width: $md3) {
  text-align: center;
  font-size: 18px;
 }
}